@page "/busy"

<h1>Busy Overlay Test</h1>


<div style="min-height:60px;">
    @if (!String.IsNullOrEmpty(_message))
    {
        @_message
    }
</div>


<div>
    <button class="btn btn-primary" type="button" @onclick="SetNotSoBusy">Not So Busy</button>
    <button class="btn btn-primary" type="button" @onclick="SetBusy">Be Busy</button>

    <button class="btn btn-warning" type="button" @onclick="CancelBusy">Cancel Busy</button>
</div>
